<div class="form-group">
  <form [formGroup]="taskCreateForm">

    <label for="priority">Priority:</label>
    <input type="number" id="priority" name="priority" formControlName="priority" min="1" />

  

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" formControlName="name" />

  

    <label for="description">Description:</label>
    <textarea type="text" id="description" name="description" formControlName="description"></textarea>

  

    <label for="deadLine">Deadline:</label>
    <input type="date" id="deadLine" name="deadLine" formControlName="deadLine" min="2025-28-01"/>


</form>
<button class="button-73" (click)="submit()">create</button>
</div>
