<body>
  @if (authService.authenticated()) {
    <div class="logged-in-message">
      <h1>You're currently logged in.</h1>
    </div>
  } @else {
    <div class="register-container">
      <h1 class="register-title">Registrácia</h1>
      <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">
        <!-- Email Field -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <!-- Username Field -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Užívateľské meno</mat-label>
          <input matInput formControlName="profileName" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <!-- Password Field -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Zadaj heslo</mat-label>
          <input matInput [type]="'password'" formControlName="password" required>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-hint class="password-hint">
             6 písmen,
              1 veľké,
              1 malé,
              1 číslo,
              1 špeciálny znak

          </mat-hint>
        </mat-form-field>

        <!-- Confirm Password Field -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Potvrď svoje heslo</mat-label>
          <input matInput [type]="'password'" formControlName="confirmPassword" required>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <!-- Submit Button -->
        <button mat-raised-button color="primary" type="submit" class="submit-button">
          Zaregistrovať
        </button>
      </form>
    </div>

  }
</body>