<body>
  <div class="homepage">
    <!-- First Section: Recipes -->
    <div class="section">
      <div class="content">
        <div class="text">
          <h2>"Láske a vareniu sa oddávajte bez ohľadu na nebezpečenstvo."</h2>
          <p>Vyhľadajte a zdieľajte svoje recepty s ostatnými.</p>
        </div>
        <img src="../../assets/homepagePlate.png" alt="Recipe Image" class="image">
      </div>
      <div class="button-container">
        <button class="cta-button" [routerLink]="['/Recipes']">Prezrite si recepty</button>
      </div>
    </div>

    <!-- Second Section: Tasks -->
    <div class="section">
      <div class="content">
        <img src="../../assets/TaskImg.jpg" alt="Task Image" class="image">
        <div class="text">
          <h2>"Cieľ bez plánu je len… želanie."</h2>
          <p>Organizuj svoje úlohy.</p>
        </div>
      </div>
      <div class="button-container">
        <button class="cta-button" [routerLink]="['/taskList']">Prezrite si úlohy</button>
      </div>
    </div>
  </div>
</body>