<body>
  <div class="homepage">
    <!-- First Section: Recipes -->
    <div class="section">
      <div class="content">
        <div class="text">
          <h2>"From Your Kitchen to the World"</h2>
          <p>Discover and share delicious recipes with the community.</p>
        </div>
        <img src="../../assets/homepagePlate.png" alt="Recipe Image" class="image">
      </div>
      <div class="button-container">
        <button class="cta-button" [routerLink]="['/Recipes']">Check Some Created Recipes</button>
      </div>
    </div>

    <!-- Second Section: Tasks -->
    <div class="section">
      <div class="content">
        <img src="../../assets/TaskImg.jpg" alt="Task Image" class="image">
        <div class="text">
          <h2>"Plan Your Time Effectively"</h2>
          <p>Organize your tasks and stay on top of your schedule.</p>
        </div>
      </div>
      <div class="button-container">
        <button class="cta-button" [routerLink]="['/taskList']">Check Some Created Tasks</button>
      </div>
    </div>
  </div>
</body>