<body>
  <!-- Background Image -->
  <img id="backgroundos" src="../../assets/kuchynaBackgroundos.png">

  <!-- Main Container with Drawer -->
  <mat-drawer-container class="example-container" autosize>
    <!-- Left Sidebar (Filters) -->
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <div class="filter-section">
        <h3 class="filter-title">Filters</h3>
        <div class="filter-options">
          <!-- Difficulty Filters -->
          <div class="filter-group">
            <h4 class="filter-subtitle">Difficulty</h4>
            <mat-checkbox class="cyberpunk-checkbox">Easy</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Medium</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Hard</mat-checkbox>
          </div>

          <!-- Dietary Filters -->
          <div class="filter-group">
            <h4 class="filter-subtitle">Dietary</h4>
            <mat-checkbox class="cyberpunk-checkbox">Vegan</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Vegetarian</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Low Calorie</mat-checkbox>
          </div>

          <!-- Course Filters -->
          <div class="filter-group">
            <h4 class="filter-subtitle">Course</h4>
            <mat-checkbox class="cyberpunk-checkbox">Rafajky</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Obedy a večere</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Šaláty</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Polievky</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Zdravé dezerty</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Snack</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Smoothies a nápoje</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Zdravé vianočné recepty</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Nátierky</mat-checkbox>
          </div>

          <!-- Preference Filters -->
          <div class="filter-group">
            <h4 class="filter-subtitle">Preferencie</h4>
            <mat-checkbox class="cyberpunk-checkbox">Bez cukru</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Vysoký obsah bielkovín</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Vysoký obsah vlákniny</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Nízky obsah sacharidov</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Nízkokalorické</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Nízkotučné</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Vegetariánske</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Vegánske</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Proteínový prášok</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Rýchle</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Do 5 surovin</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Do krabičky</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Lacné</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Pre deti</mat-checkbox>
          </div>

          <!-- Allergen Filters -->
          <div class="filter-group">
            <h4 class="filter-subtitle">Alergény</h4>
            <mat-checkbox class="cyberpunk-checkbox">Bez lepku</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Bez laktózy</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Bez vajec</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Bez orechov</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Bez histamínu</mat-checkbox>
          </div>

          <!-- Ingredient Filters -->
          <div class="filter-group">
            <h4 class="filter-subtitle">Surovina</h4>
            <mat-checkbox class="cyberpunk-checkbox">Cuketa</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Kuracie máso</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Hovádzie máso</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Tuniak</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Arašidové maslo</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Avokádo</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Chia semienka</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Kokos</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Ovsené vločky</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Sladké zemiaky</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Tekvica</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Ryža</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Quinoa</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Losos</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Tofu</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Kuskus</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Vajcia</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Zelenina</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Cestoviny</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Strukoviny</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Tvaroh</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Brokolica</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Banán</mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox">Špenát</mat-checkbox>
          </div>
        </div>

        <!-- Clear Filters Button -->
        <button mat-button class="clear-filter-button" (click)="clearFilter()">Clear Filters</button>
      </div>
    </mat-drawer>

    <!-- Main Content Area -->
    <div class="example-sidenav-content">
      <!-- Toggle Button for Filters -->
      <button type="button" mat-button class="toggle-filter-button" (click)="drawer.toggle()">
        <mat-icon>filter_list</mat-icon> Filters
      </button>


      <!-- Recipe Cards Container -->
      <div class="recipes-container">
        <mat-card class="recipes-items" *ngFor="let recipe of realRecipes() | filter : sSearchRecept">
          <!-- Recipe Name at the Top -->
          <mat-card-title class="recipes-name">
            <span class="recipe-name-text">{{recipe.name}}</span>
          </mat-card-title>

          <!-- Recipe Details (Timer, Portions, Calories) -->
          <div class="recipe-details">
            <!-- Timer -->
            <mat-card-subtitle class="recipes-difficulty">
              <mat-icon>query_builder</mat-icon> {{recipe.cas}} min
            </mat-card-subtitle>

            <!-- Portions -->
            <mat-card-subtitle class="recipes-difficulty">
              <mat-icon>restaurant</mat-icon> {{recipe.gramaz / 250 | number : '1.0-0'}}
            </mat-card-subtitle>

            <!-- Calories -->
            <mat-card-subtitle class="recipes-difficulty">
              <mat-icon>local_fire_department</mat-icon> {{recipe.kalorie}} KCal
            </mat-card-subtitle>
          </div>

          <!-- Recipe Image -->
          <div class="image-container">
            <img mat-card-image [src]="getImage(recipe.id)" class="recipes-images" matTooltip="Details of {{recipe.name}}" [routerLink]="['/RecipesDetails', recipe.id]">
          </div>

          <!-- Recipe Footer (Favorite Button) -->
          <mat-card-footer>
            <input type="checkbox" id="favourite-{{recipe.id}}" class="favourite-checkbox">
            <label for="favourite-{{recipe.id}}" class="favourite-label">
              <mat-icon id="like">favorite</mat-icon>
            </label>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </mat-drawer-container>

  <!-- Create Recipe Button -->
  <div class="create">
    <button id="create_link" [routerLink]="['/CreateRecipe']" matTooltip="Create a new recipe">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</body>