<body>
  
  <!-- Main Container with Drawer -->
  <mat-drawer-container class="example-container" autosize>
    <!-- Left Sidebar (Filters) -->
    <mat-drawer class="example-sidenav" mode="side" opened>
      <div class="filter-section">
        <h3 class="filter-title">Filters</h3>

        <div class="search-container">
          <input
            type="text"
            class="search-input"
            [(ngModel)]="searchBarQuery"
            placeholder="Hľadať Recept"
          />
          <mat-icon class="search-icon">search</mat-icon>
        </div>

        <div class="filter-options">
          <!-- Difficulty Filters -->
          <div class="filter-group">
            <h4 class="filter-subtitle">Náročnosť</h4>
            <mat-checkbox class="cyberpunk-checkbox" value="lahke" [ngModel]="easyChecked" (ngModelChange)="easyChecked = $event" (click)="filterRecipesByDifficulty('lahke')" (click)="call()" [disabled]="sSearchRecept.includes('pokrocile') || sSearchRecept.includes('narocne')"  >
              <span class="checkbox-label">ľahké</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="pokrocile" [ngModel]="mediumChecked" (ngModelChange)="mediumChecked = $event" (click)="filterRecipesByDifficulty('pokrocile')" (click)="call()" [disabled]="sSearchRecept.includes('lahke') || sSearchRecept.includes('narocne')">
              <span class="checkbox-label">pokročilé</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="narocne" [ngModel]="hardChecked" (ngModelChange)="hardChecked = $event" (click)="filterRecipesByDifficulty('narocne')" (click)="call()" [disabled]="sSearchRecept.includes('pokrocile') || sSearchRecept.includes('lahke')">
              <span class="checkbox-label">náročné</span>
            </mat-checkbox>
          </div>

          <!-- Dietary Filters -->
          <div class="filter-group">
            <h4 class="filter-subtitle">Dietne</h4>
            <mat-checkbox class="cyberpunk-checkbox" value="veganske" [ngModel]="veganChecked" (ngModelChange)="veganChecked = $event" (click)="filterRecipesByDifficulty('veganske')" (click)="call()">
              <span class="checkbox-label">Veganské</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="vegetarianske" [ngModel]="vegetarianChecked" (ngModelChange)="vegetarianChecked = $event" (click)="filterRecipesByDifficulty('vegetarianske')" (click)="call()">
              <span class="checkbox-label">Vegetarianske</span>
            </mat-checkbox>
          </div>

          <!-- Course Filters -->
          <div class="filter-group">
            <h4 class="filter-subtitle">chod</h4>
            <mat-checkbox class="cyberpunk-checkbox" value="ranajky" [ngModel]="ranajkyChecked" (ngModelChange)="ranajkyChecked = $event" (click)="filterRecipesByDifficulty('ranajky')" (click)="call()">
              <span class="checkbox-label">Raňajky</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="obedy" [ngModel]="obedyChecked" (ngModelChange)="obedyChecked = $event" (click)="filterRecipesByDifficulty('obedy')" (click)="call()">
              <span class="checkbox-label">Obedy</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="vecere" [ngModel]="vecereChecked" (ngModelChange)="vecereChecked = $event" (click)="filterRecipesByDifficulty('vecere')" (click)="call()">
              <span class="checkbox-label">Večere</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="salaty" [ngModel]="salatyChecked" (ngModelChange)="salatyChecked = $event" (click)="filterRecipesByDifficulty('salaty')" (click)="call()">
              <span class="checkbox-label">Šaláty</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="polievky" [ngModel]="soupsChecked" (ngModelChange)="soupsChecked = $event" (click)="filterRecipesByDifficulty('polievky')" (click)="call()">
              <span class="checkbox-label">Polievky</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="natierky" [ngModel]="natierkyChecked" (ngModelChange)="natierkyChecked = $event" (click)="filterRecipesByDifficulty('natierky')" (click)="call()">
              <span class="checkbox-label">Nátierky</span>
            </mat-checkbox>
          </div>

          <!-- Preference Filters -->
          <div class="filter-group">
            <h4 class="filter-subtitle">Preferencie</h4>
            <mat-checkbox class="cyberpunk-checkbox" value="cukor" [ngModel]="sugarChecked" (ngModelChange)="sugarChecked = $event" (click)="filterRecipesByDifficulty('cukor')" (click)="call()">
              <span class="checkbox-label">Bez cukru</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="bielkoviny" [ngModel]="proteinChecked" (ngModelChange)="proteinChecked = $event" (click)="filterRecipesByDifficulty('bielkoviny')" (click)="call()">
              <span class="checkbox-label">Vysoký obsah bielkovín</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="sacharidy" [ngModel]="carbohydratesChecked" (ngModelChange)="carbohydratesChecked = $event" (click)="filterRecipesByDifficulty('sacharidy')" (click)="call()">
              <span class="checkbox-label">Nízky obsah sacharidov</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="kalorie" [ngModel]="caloriesChecked" (ngModelChange)="caloriesChecked = $event" (click)="filterRecipesByDifficulty('kalorie')" (click)="call()">
              <span class="checkbox-label">Nízkokalorické</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="tuk" [ngModel]="fatsChecked" (ngModelChange)="fatsChecked = $event" (click)="filterRecipesByDifficulty('tuk')">
              <span class="checkbox-label">Nízkotučné</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="proteinovy prasok" [ngModel]="proteinPowderChecked" (ngModelChange)="proteinPowderChecked = $event" (click)="filterRecipesByDifficulty('proteinovy prasok')" (click)="call()">
              <span class="checkbox-label">Proteínový prášok</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="do 5 surovin" [ngModel]="upTo5IngredientsChecked" (ngModelChange)="upTo5IngredientsChecked = $event" (click)="filterRecipesByDifficulty('do 5 surovin')" (click)="call()">
              <span class="checkbox-label">Do 5 surovin</span>
            </mat-checkbox>
          </div>

          <!-- Allergen Filters -->
          <div class="filter-group">
            <h4 class="filter-subtitle">Časová náročnosť</h4>
            <mat-checkbox class="cyberpunk-checkbox" value="do 30 minút" [ngModel]="halfHourChecked" (ngModelChange)="halfHourChecked = $event" (click)="filterRecipesByDifficulty('do 30 minút')" (click)="call()">
              <span class="checkbox-label">do 30 minút</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="do 60 minút" [ngModel]="hourMinsChecked" (ngModelChange)="hourMinsChecked = $event" (click)="filterRecipesByDifficulty('do 60 minút')" (click)="call()">
              <span class="checkbox-label">do 60 minút</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="do 90 minút" [ngModel]="hourAndHalfChecked" (ngModelChange)="hourAndHalfChecked = $event" (click)="filterRecipesByDifficulty('do 90 minút')" (click)="call()">
              <span class="checkbox-label">do 90 minút</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="do 120 minút" [ngModel]="twoHoursChecked" (ngModelChange)="twoHoursChecked = $event" (click)="filterRecipesByDifficulty('do 120 minút')" (click)="call()">
              <span class="checkbox-label">do 120 minút</span>
            </mat-checkbox>
            <mat-checkbox class="cyberpunk-checkbox" value="vsetky casove" [ngModel]="allMinsChecked" (ngModelChange)="allMinsChecked = $event" (click)="filterRecipesByDifficulty('vsetky')" (click)="call()">
              <span class="checkbox-label">všetky časové kategórie</span>
            </mat-checkbox>
          </div>
        </div>

        <!-- Clear Filters Button -->
        <button mat-button class="clear-filter-button" (click)="clearFilter()">Clear Filters</button>
      </div>
    </mat-drawer>

    <!-- Main Content Area -->
    <div class="example-sidenav-content">

      <!-- <div class="banner">
        <h2>Healthy Recipes, Happy You!</h2>
        <p>Recipes Made for You!</p>
        <button class="get-cooking-btn">GET COOKING!</button>
      </div> -->
      <!-- Recipe Cards Container -->
      <div class="recipes-container">
        <mat-card class="recipes-items" *ngFor="let recipe of realRecipes() | filter : sSearchRecept : searchBarQuery">
          <!-- Recipe Name at the Top -->
          <mat-card-title class="recipes-name">
            <span class="recipe-name-text">{{recipe.name}}</span>
          </mat-card-title>

          <!-- Recipe Details (Timer, Portions, Calories) -->
          <div class="recipe-details">
            <!-- Timer -->
            <mat-card-subtitle class="recipes-difficulty">
              <mat-icon>query_builder</mat-icon> {{recipe.cas}} min
            </mat-card-subtitle>

            <!-- Portions -->
            <mat-card-subtitle class="recipes-difficulty">
              <mat-icon>restaurant</mat-icon> {{recipe.gramaz / 250 | number : '1.0-0'}}
            </mat-card-subtitle>

            <!-- Calories -->
            <mat-card-subtitle class="recipes-difficulty">
              <mat-icon>local_fire_department</mat-icon> {{recipe.kalorie}} KCal
            </mat-card-subtitle>
          </div>

          <!-- Recipe Image -->
          <div class="image-container">
            <img mat-card-image [src]="getImage(recipe.id)" class="recipes-images" matTooltip="Details of {{recipe.name}}" [routerLink]="['/RecipesDetails', recipe.id]">
          </div>

          <!-- Recipe Footer (Favorite Button) -->
          <mat-card-footer>
            <input type="checkbox" id="favourite-{{recipe.id}}" class="favourite-checkbox" (click)="ktoryRecept(recipe.id)">
            <label for="favourite-{{recipe.id}}" class="favourite-label">
              <mat-icon id="like">favorite</mat-icon>
            </label>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </mat-drawer-container>

  <!-- Create Recipe Button -->
  <div class="create">
    <button id="create_link" [routerLink]="['/CreateRecipe']" matTooltip="Create a new recipe">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</body>